@import "tailwindcss";

@theme {
  --color-brand-50: oklch(0.97 0.02 250);
  --color-brand-500: oklch(0.60 0.18 250);
  --color-brand-700: oklch(0.45 0.18 250);
}

html,
body,
#root {
  height: 100%;
}
